/*#registr{
    size: 12px;
    width: 100px;
    height: 20px;
    color:rgb(22, 18, 19);
    font-size: 1px;

}

#Pharmacy{
    color: rgb(36, 128, 49);
    font-size: 50px;
}*/

body{
    background-image: url(../css/image/sign_in.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

/*
.sign_in{
    
    margin: 0 auto;
    font-size: 20px;
    width: 300px;
    background-color:rgba(51, 163, 47, 0.822);
 !*    margin-left: 20%;
    margin-top: 15%;
    margin-bottom: 16%;
    margin-right: 50%; *!

}

.confirm-button{
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    background-color: #7fff00;
    border-radius: 7px;
   }

.input_text{
    font-size: 20px;
    border-radius: 7px;
    margin-left: 15px;

}

.label{
    margin-left: 15px;
}
*/
